<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Cadastro</h2>
          <form *ngIf="form" [formGroup]="form">
            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100"> <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="fullName">
                <mat-error *ngIf="form.get('fullName')?.hasError('required')">O nome é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>CPF</mat-label>
                <input type="text" maxlength="11" matInput formControlName="cpf">
                <mat-error *ngIf="form.get('cpf')?.hasError('required')">O CPF é obrigatório</mat-error>
                <mat-error *ngIf="form.get('cpf')?.hasError('cpfNotValid')">O CPF informado é inválido</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Data de Nascimento</mat-label>
                <input type="date" class="form-control" matInput formControlName="birthDate">
                <mat-error *ngIf="form.get('birthDate')?.hasError('required')">A data de nascimento é
                  obrigatória</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error *ngIf="form.get('email')?.hasError('required')">O email é obrigatório</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('email')">O email é inválido</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>CEP</mat-label>
                <input maxlength="8" type="text" matInput formControlName="cep">
                <mat-error *ngIf="form.get('cep')?.hasError('required')">O CEP é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary w-100" (click)="buscarCep()"
                [disabled]="!form.valid">Cadastrar</button>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Logradouro</mat-label>
                <input type="text" matInput formControlName="logradouro" readonly>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Bairro</mat-label>
                <input type="text" matInput formControlName="bairro" readonly>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Cidade</mat-label>
                <input type="text" matInput formControlName="cidade" readonly>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Estado</mat-label>
                <input type="text" matInput formControlName="uf" readonly>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>